<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3 style="text-transform: uppercase;">Welcome to our store</h3><br>
      <p>
      <strong style="text-transform: uppercase;">NMKK Grocery Store:</strong>
      </br>
      Welcome to NMKK Grocery Store, your one-stop destination for all your grocery and food shopping needs. At NMKK, we are
      committed to providing you with the highest quality products and an exceptional shopping experience.
      </p>
      
      <p>
      <strong style="text-transform: uppercase;">Our Mission</strong></br>
      
      Our mission at NMKK Grocery Store is to make your life easier by offering a wide range of fresh and wholesome products
      that cater to your daily needs. We are dedicated to bringing you the freshest fruits and vegetables, pantry staples, and
      specialty items, all at affordable prices.
      </br>
      </p>
      <p>
      <strong style="text-transform: uppercase;">Quality and Freshness</strong></br>
      
      We take pride in sourcing our products from local farms and trusted suppliers to ensure the utmost quality and
      freshness. From farm-fresh produce to handpicked groceries, we believe in offering nothing but the best for you and your
      family.
      </br></p>
      <strong style="text-transform: uppercase;">Exceptional Service</strong></br>
      
      At NMKK Grocery Store, customer satisfaction is our top priority. Our friendly and knowledgeable staff is here to assist
      you in finding the perfect products, answer your questions, and ensure a seamless shopping experience. We value your
      time and strive to make your visit to our store as convenient as possible.
      </br>
      <p>
      <strong style="text-transform: uppercase;">Community Engagement</strong></br>
      
      We are proud to be a part of the local community and are actively involved in supporting various community initiatives
      and local farmers. We believe in giving back and making a positive impact on the neighborhoods we serve.
      </br></p>
      <p>
      <strong style="text-transform: uppercase;">Shop Online</strong></br>
      
      In addition to our physical store, NMKK Grocery Store also offers the convenience of online shopping. You can now shop
      from the comfort of your home and have your groceries delivered to your doorstep. Our website provides a user-friendly
      platform for browsing and ordering your favorite products.
      </br></br>
      Thank you for choosing NMKK Grocery Store as your trusted grocery partner. We look forward to serving you and becoming a
      part of your daily life. Your satisfaction is our success, and we are committed to earning your trust with every visit.
      </br></br>
      Discover the joy of shopping at NMKK Grocery Store and experience the difference in quality, service, and convenience.
      We are here to serve you, and we can't wait to welcome you to our store or assist you online.
      </p>
    </div>
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h3>Our location on map</h3>
      <div class="mt-4" id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
